@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: rgb(var(--color-custom-400));
  text-decoration: inherit;
}
a:hover {
  color: rgb(var(--color-custom-300));
}

html {
  scrollbar-color: hsla(0, 0%, 46%, 0.5);
}

::-webkit-scrollbar {
  background-color: rgb(var(--color-custom-100));
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(var(--color-custom-200));
  border-radius: 3px;
}

body {
  min-width: 320px;
  min-height: 100vh;
  background-color: rgb(var(--color-custom-100));

  --color-custom-100: 70, 70, 85;
  --color-custom-201: 208, 214, 181;
  --color-custom-200: 130, 9, 51;
  --color-custom-300: 238, 113, 133;
  --color-custom-400: 117, 185, 190;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
